<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
		<a class="navbar-brand" href="{% url 'store:index' %}"><i style="color: white;"class="fa fa-cannabis fa-4x"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			<li class="nav-item dropdown">
				<a class="fs-5 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Our Menu
				</a>
				<ul class="bg-black dropdown-menu">
					<li><a class="text-light dropdown-item" href="{% url 'store:dispensary-menu' %}">All Products</a></li>
					<li><a class="text-light dropdown-item" href="#">Flower</a></li>
					<li><a class="text-light dropdown-item" href="#">Pre-Rolls</a></li>
					<li><a class="text-light dropdown-item" href="#">Vaporizers</a></li>
					<li><a class="text-light dropdown-item" href="#">Concentrates</a></li>
					<li><a class="text-light dropdown-item" href="#">Edibles</a></li>
					<li><a class="text-light dropdown-item" href="#">Tinctures</a></li>
					<li><a class="text-light dropdown-item" href="#">Accessories</a></li>
					<li><a class="text-light dropdown-item" href="#">Apparel</a></li>
				</ul>
		</li>
			<li class="nav-item dropdown">
				<a class="fs-5 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Learn About Cannabis
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Blog</a></li>
					<li><a class="dropdown-item" href="#">FAQs</a></li>
				</ul>
		</li>
			<li class="nav-item">
				<a class="fs-5 nav-link" href="{% url 'store:about' %}" role="button" aria-expanded="false">
					About Us
				</a>
		</li>
			<li class="nav-item">
				<a class="fs-5 nav-link" href="#" role="button" aria-expanded="false">
					<i class="fa fa-cart-shopping text-light"> <b class="text-success">0</b></i>
				</a>
		</li>
    </div>
  </div>
</nav>

