{% extends 'store/components/base.html' %}
{% load static %}

{% block title %} Dispensary-Menu {% endblock %}

{% block content %}
<div class="mt-5 home-header-grid">
  <div>
    <h1 class="header-title">Shop---</h1>
  </div>
  <div class="header-circle">
    <p>Check us out</p>
  </div>
</div>

<div class="mt-5 home-subheader-grid">
  <div>
    <p class="subheader-title">We want to make finding the right type of cannabis for you as easy as possible. Browse our Uxbridge, MA dispensary menu and place an online order for easy pickup!

Not sure what to buy? Head to our Uxbridge recreational dispensary to talk with our expert employees. They’ll work with you to find local cannabis products that will fit your needs and make sure you walk out the door excited to try them.

No matter what, rest assured that you’re getting only the freshest cannabis products grown in Massachusetts.</p>
  </div>
  <div class="subheader-circle">
    <h1>Our Menu</h1>
  </div>
</div>

<!--Second Nabar -->
<nav style="margin-top:10%;"class="navbar text-white bg-black navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
	  <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="bg-black dropdown-menu">
	    {% for category in categories %}
	    <li><a class="text-light dropdown-item" href="#">{{ category }}</a></li>
	    {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Brand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Specials</a>
        </li>
        <li class="nav-item">
		<a class="hours nav-link active" aria-current="page" href="#"><b>{{ business }}</b></a>
        <li class="nav-item">
		<a class="unstyled nav-link active text-light" aria-current="page" href="#">Recreational Menu</a>
        </li>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="🔍 Search Blackstone Valley Cannabis" aria-label="Search">
      </form>
      </ul>
    </div>
  </div>
</nav>

<!-- Carousel -->
<Section>
<div style="margin-top: -.1%;"id="carouselExample" class="menu-carousel carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.dutchie.com/7b76ae69b995ca701f5aa8fc61051768?ar=3%3A1&auto=format&fit=crop&fill=solid&fillColor=%23fff&crop=edges&ixlib=react-9.0.2&w=1446" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.dutchie.com/c5543fd6d052ac7dbb3a2365ab23f3e2?ar=3%3A1&auto=format&fit=crop&fill=solid&fillColor=%23fff&crop=edges&ixlib=react-9.0.2&w=1446" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.dutchie.com/aa41516af4ab481f025758f025280ac1?ar=3%3A1&auto=format&fit=crop&fill=solid&fillColor=%23fff&crop=edges&ixlib=react-9.0.2&w=1446" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</Section>

<!-- Categories -->
<h1 style="margin-top: 5%;"class="p-2 text-light">Categories--</h1>
<Section>
<div class="categories-grid bg-light">
	<div class="">
	  <p class="fw-bold p-2">Flower</p>
	  <a href=""><img class="rounded" src="{% static 'store/media/flower.jpeg' %}" alt=""></a>
	</div>

	<div>
	  <p class="fw-bold p-2">Pre-rolls</p>
	  <a href=""><img class="rounded"src="{% static 'store/media/pre-rolls.jpeg' %}" alt=""></a>
	</div>

	<div>
	  <p class="fw-bold p-2">Vaporizers</p>
	  <a href=""><img class="rounded" src="{% static 'store/media/vaporizers.jpeg' %}" alt=""></a>
	</div>

	<div>
	  <p class="fw-bold p-2">Concentrates</p>
	  <a href=""><img class="rounded" src="{% static 'store/media/concentrates.jpeg' %}" alt=""></a>
	</div>

	<div>
	  <p class="fw-bold p-2">Edibles</p>
	  <a href=""><img class="rounded shop-img-chocolate"src="{% static 'store/media/Group-41584.webp' %}" alt=""></a>
	</div>
	
	<div>
	  <p class="fw-bold p-2">Tinctures</p>
	  <a href=""><img class="rounded"src="{% static 'store/media/tinctures.jpeg' %}" alt=""></a>
	</div>
</div>
</Section>

<!-- $100 Half-Ounce -->
<h1 style="margin-top: 5%;"class="p-2 text-light">$100 Half-Ounce--</h1>
<Section>
<div class="categories-grid bg-light p-2">
	<div class="">
	  <a href=""><img class="rounded" src="https://images.dutchie.com/dbfa596082bab7fd174d5ec80d4bbc4a?auto=format&fit=fill&fill=solid&fillColor=%23fff&__typename=ImgixSettings&ixlib=react-9.0.2&h=175&w=175&q=75&dpr=1" alt=""></a>
	</div>

	<div>
	  <a href=""><img class="rounded"src="https://images.dutchie.com/258ec7d84c98b15f369bb5bcf5672c7e?auto=format&fit=fill&fill=solid&fillColor=%23fff&__typename=ImgixSettings&ixlib=react-9.0.2&h=175&w=175&q=75&dpr=1" alt=""></a>
	</div>

	<div>
	  <a href=""><img class="rounded" src="https://images.dutchie.com/2299d749b45066c8fb2acb95cae1275d?auto=format&fit=fill&fill=solid&fillColor=%23fff&__typename=ImgixSettings&ixlib=react-9.0.2&h=175&w=175&q=75&dpr=1" alt=""></a>
	</div>

	<div>
	  <a href=""><img class="rounded" src="https://images.dutchie.com/d353accb7122bee1560220132e579b99?auto=format&fit=fill&fill=solid&fillColor=%23fff&__typename=ImgixSettings&ixlib=react-9.0.2&h=175&w=175&q=75&dpr=1" alt=""></a>
	</div>

	<div>
	  <p class="fw-bold p-2">Tinctures</p>
	  <a href=""><img class="rounded"src="https://images.dutchie.com/1600e693ff3e9dc587f224e220783c9c?auto=format&fit=fill&fill=solid&fillColor=%23fff&__typename=ImgixSettings&ixlib=react-9.0.2&h=175&w=175&q=75&dpr=1" alt=""></a>
	</div>
</div>
</Section>



{% include 'store/components/footer.html' %}
{% endblock content %}
