{% extends 'store/components/base.html' %}

{% block title %} Dispensary-Menu {% endblock %}

{% block content %}
<div class="mt-5 home-header-grid">
  <div>
    <h1 class="header-title">Shop---</h1>
  </div>
  <div class="header-circle">
    <p>Check us out</p>
  </div>
</div>

<div class="mt-5 home-subheader-grid">
  <div>
    <p class="subheader-title">We want to make finding the right type of cannabis for you as easy as possible. Browse our Uxbridge, MA dispensary menu and place an online order for easy pickup!

Not sure what to buy? Head to our Uxbridge recreational dispensary to talk with our expert employees. They’ll work with you to find local cannabis products that will fit your needs and make sure you walk out the door excited to try them.

No matter what, rest assured that you’re getting only the freshest cannabis products grown in Massachusetts.</p>
  </div>
  <div class="subheader-circle">
    <h1>Our Menu</h1>
  </div>
</div>

<!-- Carousel -->
<Section>
<div id="carouselExample" class="menu-carousel carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.dutchie.com/7b76ae69b995ca701f5aa8fc61051768?ar=3%3A1&auto=format&fit=crop&fill=solid&fillColor=%23fff&crop=edges&ixlib=react-9.0.2&w=1446" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.dutchie.com/c5543fd6d052ac7dbb3a2365ab23f3e2?ar=3%3A1&auto=format&fit=crop&fill=solid&fillColor=%23fff&crop=edges&ixlib=react-9.0.2&w=1446" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.dutchie.com/aa41516af4ab481f025758f025280ac1?ar=3%3A1&auto=format&fit=crop&fill=solid&fillColor=%23fff&crop=edges&ixlib=react-9.0.2&w=1446" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</Section>

{% include 'store/components/footer.html' %}
{% endblock content %}
