{% extends 'store/components/base.html' %}
{% load static %}

{% block content %}
<div id="myModal" class="modal">
  <div class="bg-dark modal-content">
    <p class="bg-light fs-5 fw-bold">Are you 18 or older?</p>
    <p class="restrict bg-light fs-5 fw-bold">You must be 21 years or older to enter this site</p>
    <button id="yesBtn">Yes</button>
    <button id="noBtn">No</button>
  </div>
</div>


<div class="mt-5 home-header-grid">
  <div>
    <h1 class="header-title">Blackstone---</h1>
  </div>
  <div class="header-circle">
    <p>Check us out</p>
  </div>
</div>

<div class="mt-5 home-subheader-grid">
  <div>
    <p class="subheader-title">Uxbridge, MA – in the heart of the Blackstone Valley region – is home to our recreational dispensary because it’s a place where industry, artistry, and craftsmanship have been woven into the fabric of the community over centuries of ingenuity. </p>
  </div>
  <div class="subheader-circle">
    <h1>Valley</h1>
  </div>
</div>

<div class="line">

  <div class="goodness-grows-container">
    <div>
    <h1 style="color: white"><b class="text-success">G</b>oodness Grows Here</h1>
    <p class="text-light">We believe that local people making local cannabis products creates and spreads goodness for all. That’s why we offer only the freshest and highest-quality Massachusetts cannabis at our dispensary in Uxbridge.
Shop our goodness online or in person with the help of our staff at our locally-owned Uxbridge recreational dispensary.</p>
      <button class="btn bg-black text-light rounded-pill px-3" type="button">Shop Now</button>
    </div>

  <div>
      <img class="goodness-img" src="{% static 'store/media/weed2.webp' %}">
  </div>

</div>

<div class="shop-container text-light">
<h1>Shop our Uxbridge Recreational Dispensary Menu</h1>
<p>It’s easy to place an order for convenient pick up at our Uxbridge, MA dispensary. Browse our menu for a selection of cannabis flower, edibles, vape cartridges, concentrates, topicals, and more. to learn more about our product offerings.

We make it easy to order online and pick up in-store. You can also stop by our Uxbridge recreational dispensary and talk to our dispensary agents to learn more about our products and find the right one for you. We want to bring you the best products at a great value, so check back regularly for special offerings at our dispensary in Uxbridge, MA!</p>
</div>

<img class="shop-img" src="{% static 'store/media/accessories.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/concentrates.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/flower.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/pre-rolls.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/topicals.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/vaporizers.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/tinctures.jpeg' %}">
<img class="shop-img" style="width: 320px; height:170px;"src="{% static 'store/media/Group-41584.webp' %}">




{% endblock content %}
