{% extends 'store/components/base.html' %}
{% load static %}

{% block content %}
<div class="mt-5 home-header-grid">
  <div>
    <h1 class="header-title">Blackstone---</h1>
  </div>
  <div class="header-circle">
    <p>Check us out</p>
  </div>
</div>

<div class="mt-5 home-subheader-grid">
  <div>
    <p class="subheader-title">Uxbridge, MA – in the heart of the Blackstone Valley region – is home to our recreational dispensary because it’s a place where industry, artistry, and craftsmanship have been woven into the fabric of the community over centuries of ingenuity. </p>
  </div>
  <div class="subheader-circle">
    <h1>Valley</h1>
  </div>
</div>
{% endblock content %}
