{% extends 'store/components/base.html' %}
{% load static %}

{% block content %}
<div id="myModal" class="modal">
  <div class="bg-dark modal-content">
    <p class="bg-light fs-5 fw-bold">Are you 18 or older?</p>
    <p class="restrict bg-light fs-5 fw-bold">You must be 21 years or older to enter this site</p>
    <button id="yesBtn">Yes</button>
    <button id="noBtn">No</button>
  </div>
</div>


<div class="mt-5 home-header-grid">
  <div>
    <h1 class="header-title">Blackstone---</h1>
  </div>
  <div class="header-circle">
    <p>Check us out</p>
  </div>
</div>

<div class="mt-5 home-subheader-grid">
  <div>
    <p class="subheader-title">Uxbridge, MA – in the heart of the Blackstone Valley region – is home to our recreational dispensary because it’s a place where industry, artistry, and craftsmanship have been woven into the fabric of the community over centuries of ingenuity. </p>
  </div>
  <div class="subheader-circle">
    <h1>Valley</h1>
  </div>
</div>

<div class="line">

  <div class="goodness-grows-container">
    <div>
    <h1 style="color: white"><b class="text-success">G</b>oodness Grows Here</h1>
    <p class="text-light">We believe that local people making local cannabis products creates and spreads goodness for all. That’s why we offer only the freshest and highest-quality Massachusetts cannabis at our dispensary in Uxbridge.
Shop our goodness online or in person with the help of our staff at our locally-owned Uxbridge recreational dispensary.</p>
      <button class="shop-now-btn btn bg-black text-light rounded-pill px-3" type="button">Shop Now</button>
    </div>

  <div>
      <img class="goodness-img" src="{% static 'store/media/weed2.webp' %}">
  </div>

</div>

<div class="shop-container text-light">
	<h1><b class="text-success">S</b>hop our Uxbridge Recreational Dispensary Menu</h1>
<p>It’s easy to place an order for convenient pick up at our Uxbridge, MA dispensary. Browse our menu for a selection of cannabis flower, edibles, vape cartridges, concentrates, topicals, and more. to learn more about our product offerings.

We make it easy to order online and pick up in-store. You can also stop by our Uxbridge recreational dispensary and talk to our dispensary agents to learn more about our products and find the right one for you. We want to bring you the best products at a great value, so check back regularly for special offerings at our dispensary in Uxbridge, MA!</p>
</div>

<img class="shop-img" src="{% static 'store/media/accessories.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/concentrates.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/flower.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/pre-rolls.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/topicals.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/vaporizers.jpeg' %}">
<img class="shop-img" src="{% static 'store/media/tinctures.jpeg' %}">
<img class="shop-img" style="width: 320px; height:170px;"src="{% static 'store/media/Group-41584.webp' %}">

<div class="learn-container">
  <div>
    <img class="learn-img" src="{% static 'store/media/uxbridge-recreational-dispensary-4.jpg' %}">
  </div>

  <div  style="margin-right: 25%;">
	  <h1 class="text-light"><b class="text-success">C</b>annabis Education</h1>
    <p class="text-light">Buying cannabis for the first time can be intimidating, but we make the process incredibly easy at our Uxbridge recreational dispensary.
Our expert staff will answer your questions about cannabis and make sure you walk out of our dispensary with products you’re excited about.
Want to learn more about cannabis before you visit our dispensary in Uxbridge, MA? Check out our FAQ page.</p>
    <button class="shop-now-btn btn bg-black text-light rounded-pill px-3" type="button">Cannabis FAQs</button>

  </div>
</div>

<div class="index-map-container">
  <div class="text-light">
	  <h1><b class="text-success">C</b>ontact our Uxbridge Recreational Dispensary</h1>	
    <p>Blackstone Valley Cannabis is a premium recreational dispensary in Uxbridge, MA. We may be a Massachusetts dispensary, but we also welcome recreational users from nearby states like Rhode Island and Connecticut.
We’re located right off MA-146 N in Uxbridge, MA, only about 30 minutes away from both Providence, RI and Putnam, Connecticut. We look forward to seeing you soon!</p>

  <div class="hours-grid">
	  <div>
	    <p class="fw-bold text-success">Our Address</p>
	    <a class="text-light" style="text-decoration:none;"href="https://www.google.com/maps?ll=42.036639,-71.616369&z=14&t=m&hl=en&gl=US&mapclient=embed&q=79+River+Rd+Uxbridge,+MA+01569" target="blank">79 River Road 
Uxbridge, MA 01569</a>
	    <a class="text-light" style="text-decoration:none; list-style:none; text-decoration:none;" href="tel:+15087795106">508.779.5106</a>
	    <a class="text-light" style="display:block; text-decoration:none;" href="mailto:info@bvcannabis.com">info@bvcannabis.com</p>
	  </div>	

	  <div>
	    <p class="fw-bold text-success">Our Hours</p>
	    <p>Mon - Sat: 10am - 8pm</p>
	    <p>Sun: 10am - 5pm</p>
	  </div>	

  </div>
  </div>
  
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11853.220123651621!2d-71.616369!3d42.03663900000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e414f77109b5f1%3A0xd9d0a5ee18c1982e!2s79%20River%20Rd%2C%20Uxbridge%2C%20MA%2001569!5e0!3m2!1sen!2sus!4v1683402229456!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<h1 class="review-header text-center"><b class="text-success fs-1">W</b>hat our customers are saying</h1>

<!-- Carousel -->
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">

    <div class="carousel-item active">
	    <!--grid-->
	    <div class="review-grid">
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
	    </div>
	    <!--grid end-->
    </div>

    <div class="carousel-item">
	    <!--grid-->
	    <div class="review-grid">
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
	    </div>
	    <!--grid end-->
    </div>

    <div class="carousel-item">
	    <!--grid-->
	    <div class="review-grid">
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
		    <div class="bg-black">
			    <p class="p-4 fs-5 text-center">"Best dispensary in southern Mass. By far the highest quality flower, very fair pricing including some great deals. The bud-tenders really know their stuff and are among the best as well."</p> 
		    </div>
	    </div>
	    <!--grid end-->
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% include 'store/components/footer.html' %}

{% endblock content %}

